* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin:0 auto;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    line-height: normal;
    vertical-align: baseline;
}
body{
	font-family:'Changa',sans-serif;
	direction:rtl;
	width:1024px;
	background-image:url(https://d2uofabwotszv7.cloudfront.net/original/3X/f/2/f2a91d94a0d46e5cfeff794a58d6c793d3e9909b.png);
	color:#fff;
}

header{
	margin-right:100px;
	text-align:center;
	font-size:60px;
	margin-top:50px;
	margin-bottom:50px;
	word-spacing:20px;

}
ul{
	list-style-type:none;
	width:100%;
	display:flex;
	flex:1;
	flex-wrap:wrap;
	width:680px;
}
main {
	margin-right:200px;
	width:600px
}
main > ul li img:hover{
	padding:5px;
}
main > ul li img{
	width:270px;
	height:200px;
	transition:all 0.2s
}
main > ul li:first-of-type img{
	width:150px;
	height:170px;
}

 main > ul li:nth-child(3) img{
 	width:150px;
 	height:170px;
 }
 main > ul li:last-of-type figure{
 	margin-top:50px;
 	
 }
 main > ul li:last-of-type figure img{
 	width:100%;
 	height:400px;
 	border:1px solid #ccc;
 	border-top-left-radius:100px;
 	border-bottom-right-radius:100px;
 } 
main > ul li:last-of-type figure img:hover{
	padding:0px
}
 footer{
 	margin-top:50px;
 	font-size:12px;
 }
  footer > ul{
  	width:60%;
  	margin-right:250px;
  }
 footer > ul li a{
 	color:#ccc;
	text-decoration:none;
	transition:all 0.3s
 }
  footer > ul li a:hover{
  	color:#fff;
  }